
@font-face {
    font-family:'outfit-regular';
    src: url(../fonts/Outfit-Regular.ttf) format("truetype");
}

$font-01:'outfit-regular';


@font-face {
    font-family:'outfit-bold';
    src: url(../fonts/Outfit-Bold.ttf) format("truetype");
}

$font-02:'outfit-bold';
