@font-face {
    font-family:'figtree-semi-bold';
    src: url(../fonts/Figtree-SemiBold.ttf) format("truetype");
}

$font-01:'figtree-semi-bold';

@font-face {
    font-family:'figtree-extra-bold';
    src: url(../fonts/Figtree-ExtraBold.ttf) format("truetype");
}

$font-02:'figtree-extra-bold';



