@use '../util/' as u;
@use '../util/functions' as f;

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
    width:u.rem(320);
    margin: f.em(156.5) 0em;
    border-radius: var(--space-250);
    background-color: var(--color-white);
    box-sizing: border-box;
    padding: var(--space-200) var(--space-200) var(--space-500) var(--space-200);
}

.sub-container-2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0em var(--space-200);
    gap: var(--space-200);
}