@use '../util/functions' as f;

:root {
    --space-125: #{f.em(10)};
    --space-200: #{f.em(16)};
    --space-250: #{f.em(20)};
    --space-300: #{f.em(24)};
    --space-500: #{f.em(40)};

}